html{
    font-family: arial,sans-serif;
    font-size: 13px;
}

.logo_container{
    height: 92px;
    padding-top: 160px;
    width: 272;
    text-align: center;

}

.center{
    margin-left:auto;
    margin-right: auto;
    display: block;
}

p.center{
    width:fit-content;
}


.searchBar{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 42px;
    width: 482px;
    border: 1px solid #ccc;
    border-radius: 16px;

}

.searchBar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0,28);
}

input[type=text]{
    width:380px;
    height:34px;
    border:none;
    font: 16px arial,sans-serif;
    line-height: 34px;
    background-color: transparent;
    border:none;
    flex:100%;
    outline: none;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    -webkit-tap-highlight-color: transparent;
}

svg{
    fill: #9AA0A6;
    height:20px;
    width:20px;
    margin-top:3px;
}


.Btns{
    background-color:#f2f2f2;
    height:36px;
    padding: 0 16 px;
    margin: 11px 4px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #5F6368;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
}

.Btns:hover{
    color:#222;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1)
}

#btnBox{
    width: fit-content;
    padding:10px;
}




/*
.form{
    width: 100%;
    max-width: 590px;
    height: 40px;
    background-image:url("images/voice.png");
    background-repeat: norepeat;
    background-position: rightop;
    margin: 15px 0;
    padding-left: 10px;
}
*/


.appsBtn {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    cursor: pointer;
    height: 30px;
    opacity: .55;
    display: inline-block;
    outline: none;
    user-select: none;
    vertical-align: middle;
    width: 30px;
    padding: 0 7px 0 7px;

}



.topNav{
    overflow: hidden;
}

.topNav a {
    text-align: center;
    padding: 0 7px 0 7px;
    color:#000;
    opacity: 0.75;
    text-decoration: none;
    margin-top: 7px;
    margin-right: 2px;
    
}





#signInBtn{
    color: #fff;
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285F4;
    padding: 0 7px 0 7px;
    border-radius: 2px;
    line-height: 28px;
    -webkit-border-radius: 2px;
    background: #4285F4;
    background: -webkit-linear-gradient(top, #4387FD, #4683EA);
    display: inline-block;
    outline: none;
    font-weight: bold;

}




a:hover, a:active{
    text-decoration: underline;
}


.footer{
    position:fixed;
    left: 0;
    bottom: 0%;
    width: 100%;
}

.fullBar{
    background: #f2f2f2;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    line-height: 40px
    border-top: 1px solid #e4e4e4;
}

.bottomNav{
    overflow: hidden;
}

.bottomNav a{
    text-align: center;
    padding: 0 7px 0 7px;
    color:#000;
    opacity: 0.75;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 2px;
    align-items: center;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.leftFooter{
    float: left;
}

.leftHeader{
    float: left;
    padding-left: 15px;
}



.rightFooter{
    float:right;
}

.rightHeader{
    float: right;
    padding-left: 30px;

}



#bottomText{
    padding: 0 7px 0 7px
    font-size: 13px;
    margin-right: 2px;
    color: #000;
    opacity: 0.75;
    font-family: arial, sans-serif;
}
